REFRESH_TOKEN_AGE=3d
ACCESS_TOKEN_AGE=15m

REFRESH_TOKEN_SECRET=s9nFusr7GgRHdDQG6xjRkxnjQCgnJ+hMAsohceLixF6e/K16pTGAHPZXZPVFfkeFiZL55qQ+rYYUJ1Fb7/cQCg==
ACCESS_TOKEN_SECRET=/J36oD7ZnWybTIOEM8MV5n2DZMP0dBFfz6+VEnTpntVqUis/ArZ/XfzfED8f/vpYdxDmxQCqBDFGpsXFrbKDxw==

PASSWORD_SALT=8

REDIS_URL=redis://redis:6379

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

BACKEND_PORT=8444